
 /* Tablet */
 @media screen and (min-width: 768px) {
    .card {
      flex: 1 0 30%;
      max-width: 17.625rem;
    }
  }

  /* Desktop */
  @media screen and (min-width: 1024px) {
    .card {
      flex: 1 0 20%;
    }
  }

h1{
  font-size: 70px;
  color: #4b96a0;
  text-align: center;
  align-items: center;
}

h2{
  font-size: 20px;
  color: #3c7839;
  text-align: center;
  align-items: center;
}

h3{
  font-size: 30px;
  color: #4b96a0;
  text-align: center;
  align-items: center;
}

p{
  font-size: 20px;
  color: black;
  text-align: center;
  align-items: center;
}

html{
  background-color: #a6d6dd;
}

h4{
  font-size: 20px;
  color: #3c7839;
  text-align: center;
  align-items: center;
}